.custom-nav-link {
    color: white !important;
    margin: 0 5px;
    padding: 8px 12px !important;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .custom-nav-link:hover {
    background-color: white !important;
    color: black !important;
  }
  
  .navbar-brand {
    font-weight: bold;
  }